.wrapper {
    min-height: 100%;
    display: grid;
    background-color: rgb(46, 54, 54);
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}
.header {
    grid-area: header;
    padding: 15px;
    background-color: rgb(64, 209, 219);
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}
.header__logo {
    width: 70px;
    height: 70px;
    background-color: #fff;
    grid-column: 2 / 3;
}
.header__menu {
    grid-column: 3 / 4;
}
.header__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
}

.header__list li {
    margin: 0px 0px 0px 30px;
}

.header__link {

}

@media (max-width: 995px) {
    .header__list {
        display: none;
    }

    .header__menu {
        display: grid;
        justify-items: end;
    }

    .header__burger {
        width: 30px;
        display: grid;
        align-items: center;
        grid-template: repeat(3, 8px) / 1fr;
    }

    .header__burger::before {
        content: "";
        height: 2px;
        width: 30px;
        background-color: #fff;
    }

    .header__burger::after {
        content: "";
        height: 2px;
        width: 30px;
        background-color: #fff;
    }

    .header__burger span {
        content: "";
        height: 2px;
        width: 30px;
        background-color: #fff;
    }
}

.main {
    padding: 30px 15px;
}


.sidebar {
    grid-column: 2 / 3;
    background-color: rgb(68, 139, 89);
    padding: 30px 15px;
    margin: 0px 0px 30px 0px;
}
.sidebar__menu {
}
.sidebar__list {
}
.sidebar__link {
    color: blanchedalmond;
    font-style: 20px;
}

.sidebar__link li {
    margin: 0px 0px 15px 0px;
}


.content__title {
    color: white;
}
.content__gallery {
    margin: 0px 0px 30px 0px;
}

@media (min-width: 990px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }

    .sidebar {
        grid-column: 2 / 3;
        margin: 0;
    }

    .content {
        grid-column: 3 / 4;
        padding: 0px 0px 0px 30px;
    }
}

.gallery {
}
.gallery__title {
    color: white;
}
.gallery__items {
    display: grid;
    gap: 10px;

}
.gallery__item {
    position: relative;
    padding: 0px 0px 85% 0px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 770px) {
    .gallery__item_big {
        grid-column: span 2;
        grid-row: span 2;
    }
}

.galler {
}
.content__products {
}
.products {
}
.products__title {
}
.products__items {
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-auto-rows: 1fr; */
}
.products__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px, auto) / 1fr;
}
.products__image {
    position: relative;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 30px 0px;
}

.products__image img {
    height: 100%;
    height: 100%;
    padding: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.products__name {
    font-size: 20px;
    color: white;
    line-height: 24px;
    margin: 0px 0px 20px 0px; 
}

.products_button {
    background-color: #fff;
    color: rgb(34, 122, 63);
    letter-spacing: 2px;
    justify-self: start;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.products_button:hover {
    opacity: 0.5;
}

.footer {
    background-color: rgb(100, 95, 95);
    display: grid;
    grid-area: footer;
    padding: 15px;
    align-items: center;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

@media (min-width: 550px) {
    .footer__copy {
        grid-column: 2 / 3;
    }
    .footer__text {
        text-align: right;
        grid-column: 3 / 4;
        text-align: center;
    }
}

@media (max-width: 550px) {
    .footer {
        grid-template: 1fr 1fr / 1fr;
    }

    .footer__copy {
        order: 2;
    }

    .footer__text {
        order: 1;
    }
}