@media (min-width: 500px) { .header_wrapper {
    flex-basis: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px 10px 0px 10px;
}


.info3 {
    margin-top: 1%;
}


.header_info3 {

}


.text3 {

}

.img1 {
   float: right;
   padding: 0.5% 1% 1% 1%;
}

.img1:hover {
    transform: scale(1.4);
}

.img1_2 {
   padding: 0% 0% 1% 1%;
    display: inline-flex;
}

.img1_2:hover {
    transform: scale(1.2);
}